*

!README.md

!.gitignore
!.gitconfig

!.hyper.js
!.zshrc-linux
!.zshrc-osx
!.config/Code/User/settings.json
!.config/fontconfig/conf.d
!.config/redshift.conf

!install.sh
!install-osx.sh

!redshift.conf
!vscode-settings.json
